JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=
MONGO_URI=
AZURE_OCR_ENDPOINT=
AZURE_OCR_API_KEY=
AZURE_OPENAI_ENDPOINT=https://models.inference.ai.azure.com
AZURE_OPENAI_KEY=
AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini